
header{
	margin: 10px;
	padding: 10px;
}

body{
	margin: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#pixel-grid{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; 
	gap: 13px;
}

h2{
	padding: 0px;
	margin: 0px;
}

div h2{
	margin-left: 100px;
}


h2 a{
	text-decoration: none;
	color: black;
	cursor: crosshair;
}

